

.equos-agent-bubbles {
    position: relative;
    display: flex;
    gap: 8px;
    flex-direction: var(--equos-direction);
    justify-content: var(--equos-align-y);
    align-items: var(--equos-align-y);
}

.equos-agent-bubble {
    width: fit-content;
    height: fit-content;

    border-radius: 1000px;

    padding: 2px;

    display: flex;
    flex-direction: row;
    align-items: center;

    outline: none;
    border: none;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.equos-agent-bubble:hover {
    opacity: 0.8;
}

.equos-agent-bubble img {
    height: 48px;
    width: 48px;
    border-radius: 1000px;
    overflow: hidden;
    border: none;
}

.equos-agent-bubble-label {
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
}

.equos-agent-bubble-status {
    font-size: 11px;
    white-space: nowrap;
    font-weight: bold;
    color: #2eb88a;
}

.equos-agent-bubble-status::before {
    width: 4px;
    height: 4px;
    content: '';
    display: inline-block;
    margin-right: 4px;
    transform: translateY(-50%);
    border-radius: 1000px;
    background-color: #2eb88a;
}

.equos-agent-bubble-collapsed {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 0;
    text-wrap: nowrap;
    overflow: hidden
}

.equos-agent-bubble-expanded {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: auto;
    padding: 0 12px 0 4px;
    text-wrap: nowrap;
    overflow: auto;
}