.equos, 
.equos * {
  box-sizing: border-box;
  font: inherit;
  font-family: sans-serif;
}

.equos * {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.equos img, 
.equos video, 
.equos canvas, 
.equos svg {
  display: block;
  max-width: 100%;
}

.equos input, 
.equos button, 
.equos textarea, 
.equos select {
  font: inherit;
}

.equos button, .equos a {
    cursor: pointer;
}

.equos button:focus, .equos a:focus {
    outline: none;
}

.equos button:hover, .equos a:hover {
    outline: none;
}
